<!--index.vtl-->
<h1>Welcome to the Startup Weekend Team Tracker Application</h1>

<img src='/images/hackathon.jpg' alt='A photo of a people on computers.'/>

<h3>Compete and earn points for your school at the largest, most diverse student hackathons in the world</h3>

<h3>Ready to get started? Enter your team and members and our Regional Manager will be in touch with next steps.</h3>


<a href="/teams">View Team List</a>
<a href="/teams/new">Add a New Team</a>
<!--index.vtl-->
